<div data-ng-init="init()">
    <form id="personSearchBar" class="well" novalidate data-ng-submit="search()">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10">
                    <input id="searchText" type="text" class="form-control input-lg" placeholder="First Name Or Last Name" data-ng-model="search_criteria">
                </div>
                <div class="col-sm-2">
                    <button id="btnSearch" type="submit" class="btn btn-lg btn-block btn-primary">Search</button>
                </div>
            </div>
        </div>
    </form>
    <div data-ng-show="isBusy" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
    </div>
    <div id="personListContainer">
        <div id="personListGroup" class="list-group">
            <div class="row list-group-item" data-ng-repeat="p in persons">
                <div class="col-sm-12">
                    <h4 class="list-group-item-heading"><a ng-href="#!/person/add/{{p.id}}">{{ p.firstname + " " + p.lastname }}</a></h4>
                    <p>{{ "ID : " + p.id + " | Age : " + p.age + " | Age Group : " + p.agegroup }}</p>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="!isResultFound" class="alert alert-warning" role="alert" ng-cloak>
        <strong>Warning!</strong> No result(s) found.
    </div>
</div>